# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json

# Frontend
node_modules/
dist/
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
